<!-- aided with youtube tutorial-->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Food/Dish Nutrition</title>

    <!-- importing css formatting -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center mb-4">Upload Your Food or Dish</h1>

      {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
      {% endif %}

      <form method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <input type="file" name="photo" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success">Upload</button>
      </form>

      {% if file_url %}
      <div class="mt-4 text-center">
        <h4>Uploaded Dish:</h4>
        <img src="{{ file_url }}" style="max-width: 400px" />
      </div>
      {% endif %}
    </div>
  </body>
</html>